{% extends 'base.html.twig' %}

{% block title %} {{ 'message.change_password'|trans }} {% endblock %}

{% block body %}
    <h1>{{'message.change_password'|trans }} </h1>

    {{ form_start(form) }}
    {{ form_row(form.currentPassword) }}
    {{ form_row(form.newPassword) }}

    <button class="btn btn-primary">Change Password</button>
    {{ form_end(form) }}
{% endblock %}