{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.category_details'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.category_details'|trans({'%id%': category.id|default('')}) }}</h1>
    {% if category is defined and category|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ category.id }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ category.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ category.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  category.title }}</dd>
            <dt>{{ 'label.slug'|trans }}</dt>
            <dd>{{  category.slug}}</dd>
        </dl>
        <p>
            <a href="{{ url('category_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>

            <br>

            <a href="{{ url('category_edit', {id: category.id }) }}" title="{{ 'action.edit'|trans }}">
                {{ 'action.edit'|trans }}
            </a>

            <br>

            <a href="{{ url('category_delete', {id: category.id }) }}" title="{{ 'action.delete'|trans }}">
                {{ 'action.delete'|trans }}
            </a>

        </p>
        {% if tasks is defined and tasks|length %}
            <h3>{{ 'label.tasks'|trans }}</h3>
            <div class="navigation text-center">
                {{ knp_pagination_render(tasks) }}
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(tasks, 'label.id'|trans, 'comment.id') }}</th>
                    <th>{{ knp_pagination_sortable(tasks, 'label.title'|trans, 'comment.task') }}</th>
                    <th>Pokaż</th>
                </tr>
                </thead>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.id }}</td>
                        <td>{{ task.title }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ url('task_view', {id: task.id}) }}">
                                {{ 'action.show'|trans }}
                            </a></td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}